@charset "UTF-8";

@font-face {
  font-family: 'LatoWeb';
  src: url('https://file.valofe.com/Valofe_file/web/fonts/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://file.valofe.com/Valofe_file/web/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://file.valofe.com/Valofe_file/web/fonts/Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('https://file.valofe.com/Valofe_file/web/fonts/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('https://file.valofe.com/Valofe_file/web/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

html, body {
  font-size: 16px;
}

* {
  font-family: 'FontAwesome', 'LatoWeb', sans-serif;
  word-break: keep-all;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

section, article, nav, header, footer, aside {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.clearfix {
  clear: both;

  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}


.row-w {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.skip-navi a {
  text-indent: -9999px;
  position: fixed;
  width: 1px;
  height: 1px;
  top: -10vh;
  left: -10vw;

  &:focus, &:active {
    top: 0;
    left: 0;
    text-indent: 0;
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: black;
    color: #fff;
  }
}


.wrap-langSelect {
  select {
    width: 120px;
    height: 28px;
    padding: 7px 12px 7px 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #323338 url(/images/common/sel-small-arrow.png) no-repeat right 50%;
  }
}

#desktopHeader {
  #util {
    width: 100%;
    background: #0f1c33;
    overflow: hidden;
    padding: 0.875rem 0;
    text-align: right;
  }

  #gnb {
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;

    &:hover .sub-menu {
      height: 290px;
    }

    .main-menu {
      position: relative;
      height: 60px;
      line-height: 60px;
      background: #222831;
      z-index: 2;

      .logo {
        float: left;

        img {
          height: 30px;
        }
      }

      .main-ul {
        float: right;

        li {
          float: left;
          width: 150px;
          text-align: center;
          height: 100%;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid #10afdc;
            color: #10afdc;
          }


          a {
            display: inline-block;
            /* width: 100%; */
          }
        }
      }
    }


    .sub-menu {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      height: 0px;
      overflow: hidden;
      transition: all 0.4s;
      z-index: 1;

      .wrap-sub {
        padding: 1rem 0;
      }

      .sub-ul {
        float: right;

        > li {
          float: left;
          width: 150px;
          text-align: center;

          ul {
            width: 100%;
          }
        }


        a {
          display: inline-block;
          padding: 10px 0;
        }
      }
    }
  }

}

#mobileHeader {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #0f1c33;
  color: #fff;

  #crtMenu {
    float: left;
    font-size: 14px;

    svg {
      font-size: 20px;
      vertical-align: inherit;
      cursor: pointer;
    }
  }

  #valofe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 30px;
      margin-top: -8px;
    }
  }

  #btnMobileGnb {
    float: right;
    cursor: pointer;
  }
}

#mobileGnb {
  position: absolute;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background: #fff;
  z-index: 2;

  .wrap-tit {
    padding: 20px;
    font-size: 0.875rem;
    background: #0f1c33;
    color: #fff;
    font-weight: normal;

    a {
      display: inline-block;
    }

    .logo {
      display: inline-block;
      width: 90px;
      height: 30px;
      background: url(/images/common/logo-valofe-cb-style.png) no-repeat center / 100% auto;
      vertical-align: -8px;
    }

    svg {
      float: right;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }

  .wrap-mb-nav {
    font-size: 14px;

    .nav-list {
      > li {
        border-left: 2px solid #64d4f3;
        border-bottom: 1px solid #ddd;

        &.on {
          > a {
            background: #135879;
            color: #fff;
          }

          .size {
            background: #fff;
            color: #10afdc;
          }

          .blit-arrow {
            background: url(/images/common/blit-mb-list-on.png) 0 0 no-repeat;
            filter: brightness(3);
          }

          .nav-list2 {
            /*display: block;*/
            max-height: 300px;
          }
        }

        a {
          position: relative;
          display: inline-block;
          width: 100%;
          padding-left: 1rem;
          height: 40px;
          line-height: 40px;

          .size {
            position: absolute;
            right: 25px;
            top: 12.5px;
            margin-right: 17px;
            display: inline-block;
            padding-top: 2px;
            width: 28px;
            height: 16px;
            line-height: 13px;
            font-size: 10px;
            border-radius: 8px;
            text-align: center;
            background: #616267;
            color: #fff;
          }

          .blit-arrow {
            position: absolute;
            right: 16px;
            top: 18px;
            display: inline-block;
            width: 9px;
            height: 8px;
            background: url(/images/common/blit-mb-list.png) 0 0 no-repeat;

          }
        }


      }
    }

    .nav-list2 {
      /*display: none;*/
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s;

      li {
        //background: rgba(16, 175, 220, 0.17);
        border-bottom: 1px solid #fcfcfc;


        a {
          font-size: 13px;
          background: #F0F5F9;


          &:hover {
            background: rgba(19, 88, 121, 0.61);
            color: #fff;
          }
        }
      }

    }
  }

  .wrap-langSelect {
    text-align: right;
    padding: 1rem;
  }
}

.bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.openGnb {
  animation: openGnb 0.4s 0s 1 ease-in-out forwards;
}

.closeGnb {
  animation: closeGnb 0.4s 0s 1 ease-in-out forwards;
}

@keyframes openGnb {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

@keyframes closeGnb {
  0% {
    right: 0;
  }
  100% {
    right: -300px;
  }
}

@media screen and(max-width: 1200px) {

  .row-w {
    width: 94% !important;
  }

}

@media screen and(max-width: 1024px) {
  #desktopHeader {
    display: none;
  }
  #mobileHeader {
    display: block;
  }
}
